.body{
    background-color: rgb(255, 219, 254);
}




.navbar-nav {
    justify-content: center;
    gap: 40px;
    display: flex;
    font-size: 20px;
}


 
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.setumei-text {
    font-size: 20px;
}

.spase {
    border: 3px solid #000000;
    /* 緑色の枠線 */
    border-radius: 10px;
    /* 角を丸くする */
   
    
    background-color: #f9fff9;
    /* 背景色 */
    margin: 0 auto;

    margin-bottom: 30px; 
}

.container-p {
    margin-right: 200px;
}

/* ここから下は、作成中ページのCSS */

.irai-text{
    font-size: 50px;
}


.top-text-sakusei {
    margin-left: 550px;
    position: relative;
    margin-top: -500px;
    font-size: 100px;
}


/* 1. 通常時のカード（最初） */
.spreadsheets--item {
    background-color: #ffffff; /* 白 */
    transition: background-color 0.3s ease;
}

/* 2. 「作成」を押したとき（作成中） */
.spreadsheets--item.is-creating {
    background-color: #fffb00; /* 薄いオレンジ */
}

/* 3. 「完了」を押したとき */
.spreadsheets--item.is-completed {
    background-color: #00c81b; /* 薄い緑 */
}


ボタンデザイン

.btn1,
button.btn1 {
  color: #000000;
  background-color: #fffb00;
  border-radius: 10px;
  width: 80px;
  height: 70px;
  font-size: 20px;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN';
}

.btn2,
button.btn2 {
  color: #000000;
  background-color: #00c81b;
  border-radius: 10px;
  width: 80px;
  height: 70px;
  font-size: 20px;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN';
}

/* 複製元（ひな形）を非表示にする */
/* 複製元（ひな形）を非表示にする */
.js-base {
    display: none;
}